*{
  margin: 0;
  padding: 0;
}

header{
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.derecha{
    background: red;
}

.izquierda{
    background: blue;
}